body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-top: 30px;
}

div {
    margin-bottom: 20px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    margin-right: 10px;
}

#roleInfo,
#voteResultDisplay,
#secretVoteDisplay,
#secretVoteResultDisplay {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
}

.developer-info {
    text-align: center;
    font-size: 0.9rem;
    color: #888;
    margin-top: 20px;
}

.tutorial-link {
    margin-bottom: 20px;
    display: block;
}

#playerList {
    margin-top: 20px;
}
